/*===============================================
    [SASS DIRECTORY ]
    
    [1] MODULE DEFAULT
    [2] BLOCK SEARCH
    [3] SO MEGA MENU
    [4] MY CART
    [5] MODULE SO DEALS
    [6] MODULE SO CATEGORI SLIDE
    [7] MODULE CUSTOM TESTER
    [8] MODULE HTML CUSTOM BRAND
    [9] MODULE SO LATEST BLOG
==============================================*/
#content{margin-bottom: 30px;}
#wrapper{ background: #fff;}
.common-home #content{margin-bottom: 0px;}
.module h3.modtitle:before{ z-index: 0; }
.common-home{
    @media (min-width: 1200px) {
        .col-bt-1{width: 25%;}
        .col-bt-2{width: 37.5%}
        .col-bt-3{width: 37.5%}
    }
    .products-list.list-masonry .product-layout .product-item-container .label-sale, 
    .products-list.grid .product-layout .product-item-container{
        .label-sale{ top: 0; }
        .label-new{ top: 0; }
    } 
    .typeheader-1 .header-bottom .header-bottom-inner{ border-bottom: 0; }
     .module{margin-bottom: 30px;
        h3.modtitle{
            border-bottom: 2px solid #ddd;
            margin: 0;
            height: 38px;
            position: relative;
            padding: 0;
            text-align: center;
            &:before{display: none;}
            > span{
                background: transparent;
                color: #333;
                padding: 0;
                font-size: 16px;
                font-weight: bold;
                &:after{
                    content: "";
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    bottom: 2px;
                    background: $background;
                    #{$left}: 0;
                }
                &:before{ display: none; }
            }
        }
    }
}
.layout-1{

    footer .module{ margin: 0;}
    footer .module h3.modtitle, footer .module h3.footer-title{
        font-size: 18px;
        height: auto;
        border: none;
    }
} 

/************************************************************************************************
    MODULE HOME SLIDER  
*************************************************************************************************/


.slide-left{
    padding-#{$right}: 5px;
    @media (min-width: 1200px){
        width: 74.10%;
        
    }
    .owl-wrapper-outer{ box-shadow: none; padding: 0; border: none; border-radius: 0; }
    .owl-controls .owl-buttons{
        div{ position: absolute; margin: 0; top:50%; @include transform(translateY(-50%)); outline: 0; width: 36px; height: 36px;
            font-size: 0; z-index: 9; transition: all 0.3s ease;
            &.owl-prev{ left: 0px;background: #444 url("#{$imgPath}icon/arrow-slider-left.png")  no-repeat center; border: none;
                &:hover{ background-color: $background }
                &:before, &:after{ display: none; }
            }
            &.owl-next{ right: 0px; background: #444 url("#{$imgPath}icon/arrow-slider-right.png") no-repeat center;border: none;
                &:hover{ background-color: $background }
                &:before, &:after{ display: none; }
            }
            i.fa{ display: none; }
        }
    }
    .owl-dots{ position: absolute; bottom:30px; width: 100%; text-align: center;
        .owl-dot{ display: inline-block;
            span{ width: 10px; height:10px; background-color: #fff; border:1px solid transparent; margin:0 2px; opacity: 1; 
                display: block;border-radius: 50%; -webkit-border-radius: 50%
            }
            &.active span, &:hover span{background-color: $background; border:1px solid #fff;}
        }
    }
}
.slide-right{
    padding-#{$left}: 5px;
    @media (min-width: 1200px){
        width: 25.90%;
        
    }
    .col-s-1{
        margin-bottom: 10px;
    }
}

/************************************************************************************************
    MODULE LASTET BLOG
*************************************************************************************************/
.module.custom-ourblog{
    margin-bottom: 6px;
    .owl2-carousel .owl2-stage-outer{ direction: ltr;}
    .so-blog-external{ overflow: visible; position: relative;  }
    .blog-external{
        border: none;
        margin-top: 15px;
        .so-block{
            padding: 0;
        }
        .media-body{
            display: table;
            width: 100%;
            padding-top: 20px;
            .media-date-added{                
                display: table-cell;
                color: #222;
                vertical-align: top;
                font-size: 14px;
                background: #eeeeee;
                padding: 13px 20px;
                text-align: center;
                span{
                    text-transform: uppercase;
                    font-weight: bold;
                }    
            }

            .media-content{
                display: table-cell;
                vertical-align: top;
                padding-left: 15px;
                .media-heading a{padding: 0;font-weight: bold; color: #444;&:hover{color: $linkColor;}}
                .description {
                    font-size: 12px;
                    line-height: 20px;
                    color: #777;
                }
            }
        }
       
    }
    .owl2-nav{
        div{display: inline-block; width: 36px; height: 36px; background-repeat: no-repeat; background-position: center center; overflow: hidden; font-family: FontAwesome; font-size: 0; color: #c0c0c0; border-radius: 0; z-index: 9; opacity: 1;
            position: absolute; top: 37%; margin-top: -15px; @include transition(.2s); cursor: pointer; background-color: #fff; border: 1px solid #ddd; transition: all 0.3s ease 0s; transform: scale(0); text-align: center;
            &.owl2-prev{left: -20px;
                &:before{content: "\f104"; line-height: 35px; padding: 10px; font-size: 28px;}
            }
            &.owl2-next{ right: -18px;
                    &:before{content: "\f105"; line-height: 35px; padding: 10px; font-size: 28px;  }
            }
            &:hover{background-color: $background; border-color: $linkColor; color: #fff;}
        }
    }
    &:hover{
        .owl2-nav div{transform: scale(1);}
    }
    
}

/************************************************************************************************
    DEFFAULT BESTSELLER HOME
*************************************************************************************************/
.bestseller{clear: inherit;
    h3{ font-size: 18px; font-weight: bold; margin-bottom: 20px; margin-top: 12px;color: #222;text-transform: uppercase;}
    .description, .button-group{display: none;}
    .product-layout {margin-bottom: 15px; display: inline-block; width: 100%;
        .image{float: $left;  border: 1px solid #eee; width: 70px; padding: 10px; margin-#{$right}: 20px;
            &:hover{border-color: $linkColor;}
        }
        .caption{float: $left; display: block; margin-top: -5px;
            h4{margin: 0 0 2px;
                a{ font-size: 14px; font-weight: bold; color: #222; &:hover{color: $linkColor;} }
            }
            .ratings{ margin-top: -5px; margin-bottom: 6px; }
            .price{ margin-bottom: 0; }
        }
        .price .price-new, .price span.price{font-size: 16px;}
    }   
}



/************************************************************************************************
    SHORTCODE TESTIMONEL
*************************************************************************************************/
.module.cus-testimo{
    margin-bottom: 0;
    div.clients_say {display: inline-block; width: 100%;padding-left: 18px; padding-right: 18px;
        background: #fff;
        border: 1px solid #ddd; 
        border-top: 0;
        .block_content {padding: 16px 0 15px;
            .text {line-height: 20px; font-style: italic;color: #666;}
            .info {overflow: hidden;margin-top: 25px; padding-bottom: 5px;
                .image{float: $left;margin-#{$right}: 10px;
                   img:hover{opacity: 0.8;}
                }
                .author {font-size: 15px; font-weight: 700;margin-top: 10px;color: $linkColor;}
            }
        }
        .owl2-carousel .owl2-stage-outer{ direction: ltr; }
        .owl2-controls {
           
            .owl2-dots{background-color: #eee;width: auto;bottom: 0; margin: 0px -18px 0; padding: 5px 0px; position: relative; text-align: center;left: 0;
               .owl2-dot{width: 10px;float: none; height: 10px; border: 1px solid #eeeeee; background-color: #bbbbbb; margin: 0 2px; display: inline-block; border-radius: 50%;
                    span{background: none;}
                    &.active{background-color: #999999; border: 1px solid #fff;}
                }
            } 
        }
    }       
}



/************************************************************************************************
    EXTRA SLIDER
*************************************************************************************************/
.module.best-seller{
    .so-extraslider .item{ 
        .item-wrap.style1{ border-color: #ddd; }
    }
    .so-extraslider .extraslider-inner{ border-color: #ddd; margin-top: 30px; }
    .so-extraslider .extraslider-inner .item-wrap-inner{ margin: 15px 0 10px; }
    .so-extraslider .owl2-controls{
        margin: 0; top: 8px;
       .owl2-nav div{
            display: inline-block;
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-position: center center;
            overflow: hidden;
            font-family: FontAwesome;
            font-size: 0;
            color: #c0c0c0;
            z-index: 501;
            cursor: pointer;
            background-color: #fff;
            border: 1px solid #ddd;
            opacity: 1; font-weight: normal;
            text-align: center;
            margin: 0 2px;
            position: static;
            &.owl2-prev{right: 30px;
                    &:before{content: "\f104"; line-height: 22px; font-size: 17px;}
            }
            &.owl2-next{ right: 0;
                    &:before{content: "\f105"; line-height: 22px; font-size: 17px;  }
            }
            &:hover{background-color: $background; border-color: $linkColor; color: #fff;}
        }
    }
}

.products-list.list-masonry .product-layout .product-item-container, 
.products-list.grid .product-layout .product-item-container{
    border-color: #ddd;
}

/************************************************************************************************
    TESTIMONIAL
*************************************************************************************************/
.testimonial {position: relative; top:0; padding: 10px 20px; background-color: #eee;
    .owl-carousel{background: none;}
    .block-title{position: relative;
         h3{font-size: 18px; font-weight: bold; margin:0; text-transform: uppercase; margin-bottom: 18px;color: #222;}
    }
    .item-img-info{float: left; width: 65px; background-color: #eee;
        img{width: 65px; height: 65px; border-radius: 4px;
            &:hover{opacity: 0.8;}
        }
    }
    .item-wrap-inner{background-color: #eee; margin: 0!important; padding: 0!important;}
    .item-info {margin-left: 80px; font-style: italic; position: relative; top: -4px; background-color: #eee; text-align: $left!important;      
        h5 {padding: 17px 0px 0;font-size: 15px; font-weight: 600;margin-top: -3px; font-style: normal; color: #e74c3c; margin-bottom: 0; }
    }
    .extraslider-inner,
    .item-wrap-inner{
        overflow: visible;
    }
    .owl2-controls {position: absolute; top: -40px; #{$right}: -3px;
        .owl2-dots{display: none !important;} 
        .owl2-nav{
            float: $right;
            div{ transform: translateY(0%); width: auto; font-size: 0; font-weight: bold;position: static; padding: 5px;  cursor: pointer; display: inline;background: none;
                &.owl2-prev:before{content: "\f104"; font-family: FontAwesome; font-size: 20px;}
                &.owl2-next:before{content: "\f105"; font-family: FontAwesome; font-size: 20px;}
                &:hover{background-color: transparent !important; color: $linkColor;}
            }
        }     
    }
}

/************************************************************************************************
    SHORT CODE SERVICES
*************************************************************************************************/
.list-services{display: block;overflow: hidden;
    li{
        a{border: 3px solid #ddd; display: block; transition: 0.3s; -moz-transition: 0.3s; -webkit-transition: 0.3s;
            &:hover{border-color: $linkColor;}
        }   
    } 
}

/************************************************************************************************
    SHORT CODE CONTENT SLIDER BRAND
*************************************************************************************************/


.box_banner{
    @media (min-width: 1200px) {
        width: 26.2%;
        padding-#{$left}: 10px;
        .banner-right{ margin: 0; }
    }

    li{margin-bottom: 10px;
        a{position: relative; display: block;
            &:before{position: absolute;background: rgba(0,0,0,0.3);width: 0;top: 0;left: 50%;content: ""; transition: all 0.3s ease-in-out 0s;}
            &:hover{
                &:before{width: 100%;left: 0;top: 0;height: 100%;}
            }
        }
    }
}

.box_slider{
   @media (min-width: 1200px) {
        width: 73.8%;
        padding-#{$right}: 0;
    }
}

/************************************************************************************************
    SHORT CODE CONTENT SLIDER BRAND
*************************************************************************************************/
.top-brand.arrow-default{
    border: 1px solid $base-border-color;
    padding: 15px;
    direction: ltr;
    .owl2-controls{margin: 0;}
    .owl2-nav [class*='owl2-']{opacity: 1;background:none !important; @include linkGray();
        height: 34px;
        width: 34px;
        border: 1px solid #ddd;
        color: #999;
        font-size: 24px;
        line-height: 32px;
        margin-top: -17px;
        border-radius: 0;
        background: #fff!important;
        @include transition(all .3s ease 0s);
        &:hover{ background: $background!important; color: #fff!important; opacity: 1!important; border-color: $background; }
    }
    .owl2-nav .owl2-prev{left: -16px; 
        &:before{ content: "\f104"; }
    }
    .owl2-nav .owl2-next{right: -16px;
        &:before{ content: "\f105"; }
    }
}

/************************************************************************************************
    SHORT CODE SERVICES
*************************************************************************************************/
.module.custom-polyci{
    margin-bottom: 40px;
    .banner-info{
        padding: 21px 10px 18px;
        @include transition(all 250ms ease-in-out);
        color: #fff;
        cursor: pointer;
        text-align: center;
        background: #f2f2f2;
        border: 2px solid transparent;
        &:hover{
            border-color: $background1;
            background: #fff;   
        }
        img{
            display: inline-block;
            vertical-align: top;
            margin-#{$right}: 10px;
        }
        .banner-cont{
            display: inline-block;
            text-align: $left;
            a{
                color: #444;
                font-size: 14px;
                font-weight: bold;
                @include transition(all 250ms ease-in-out);
            }
            p{
                font-size: 12px;
                margin: 0;
                line-height: 100%;
                color: #999;
            }
        }
    }
}

/************************************************************************************************
    BLOCK BANNER CT
*************************************************************************************************/
.module.custom-bannerct{
    margin-bottom: 33px;
    .banner-ct2{
        margin-bottom: 30px;
    }
}

/************************************************************************************************
    BLOCK BANNER BT
*************************************************************************************************/
.module.custom-bannerbt{
    padding: 0 30px;
    .banner-bt{
        position: relative;
        text-align: center;
        .banner-cont{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .btn-df{
                font-size: 11px;
                font-weight: 600;
                text-transform: uppercase;
                color: #fff;
                background: $background2;
                height: 40px;
                line-height: 40px;
                display: inline-block;
                padding: 0 25px;
                letter-spacing: 1px;
                margin-top: 10px;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
        &.banner-bt1{
            .banner-cont{
                margin: 0 10%;          
                padding: 20px;
                background: rgba(255, 255, 255, 0.9);
                box-shadow: 0 4px 2px -2px rgba(192, 192, 192, 0.6);
                h3{
                    font-size: 40px;
                    color: #222222;
                    font-weight: 300;
                }
                .des{
                    font-size: 14px;
                    font-weight: 300;
                    color: #777777;
                    margin-top: 10px;
                }
            }
        }
        &.banner-bt2{
            .banner-cont{
                color: #fff;
                padding: 20px;
                width: 100%;
                h1{
                    font-size: 80px;
                    text-transform: uppercase;
                    font-weight: 300;
                }
                p{
                    font-size: 28px;
                }
            }
        }
    }
}

/************************************************************************************************
    BLOCK BRAND
*************************************************************************************************/
.module.custom-brand{
    margin: 0;
    .owl2-controls{
        display: none;
    }
    img{
        @include transition(all 200ms ease-in-out);
        -webkit-transform: rotate(0);
        -webkit-backface-visibility: hidden;
        &:hover{
            opacity: 0.7;
        }
    }
}

/************************************************************************************************
    BLOCK BRAND
*************************************************************************************************/
.section-bottom{
    background: url("#{$imgPath}/bg-brand.png") repeat bottom $left;
    padding: 20px 0;
    @media (min-width: 1200px){
        padding: 45px 0;

    }
}


