/************************************************************************************************
    FOOTER DEFFAULT
*************************************************************************************************/
footer.typefooter-3 .news-letter .block_content .subcribe button{ background: $background!important; border-color: $background!important; }
footer.typefooter-3 .footer-navbar .module ul.menu li a:hover,
footer.typefooter-3 .footer-navbar .footer-center .icon-sp .fa{ color: $background!important; }
footer{ 
  @include rem(font-size, 12px); color: #666;
  a{ color: #444; }
  .module{ margin: 0; 
    h3.modtitle,
    h3.footer-title{
      @include rem(font-size, 18px); font-weight: bold; border: none; color: #222; 
      text-transform: uppercase; margin: 0 0 15px 0; line-height: inherit; height: auto;
    }
  }

  /*FOOTER TOP*/
  .footer-top {  background-color: #222;  height: 70px; }

  /*FOOTER CENTER*/
  .footer-center{padding-bottom: 30px; padding-top: 25px; background-color: #eee;
    .module h3.modtitle:before{ display: none; }
    .module{
      .footer-logo{margin-bottom: 7px; margin-top: -3px;}
      ul.menu{ 
       li a{
        position: relative;
        padding-#{$left}: 10px;
        @include if-rtl {
          &:before{ content: "\f100"!important; font-family: FontAwesome}
        }
        &:before{content: "\f101"; top: 2px; line-height: 100%; vertical-align: middle; font-family: FontAwesome; position: absolute; #{$left}: 0;}
        &:hover{  color: $linkColor; } 
       }
      }
    }
    .footer-links{ p{ line-height: 20px; } }
    .contact-address{
        li{color: #444444;padding: side-values(0 0 5px 25px) ;position: relative;z-index: 1;line-height: 18px;}
        span{font-size: 15px;position: absolute;color: white; text-align: center;color: $linkColor; #{$left}: 0px;margin-#{$right}: 10px;
        }
         > li:nth-child(2) {padding-top: 7px;
         span{margin-top: -1px;}
      }
        > li:last-child{padding-top: 8px;}
        a:hover{color: $linkColor;}
    }
    .payment-list li{display: inline;}

  }
  .box-footer{min-height: 181px; border-#{$right}: 1px solid #ddd;
    .module{margin: 0;}
    &.box-account, &.box-information{
      padding-#{$left}: 30px;
      ul li{line-height: 32px;}
    }
    &:last-child{border-#{$right}: 0; padding-#{$left}: 30px; }
  }
  ul.payment-method{padding-top: 25px; border-bottom: 0;
    li{
      display: inline-block; margin-#{$right}: 7px;
      img:hover{opacity: 0.8;}
    }
  }

  /*FOOTER BOTTOM*/
  .footer-bottom{background: #ddd; padding: 6px 0;}

  /*HTML SOCIAL*/
  
  .social_block{ margin-bottom: 0; background: #3a3a3a;
    ul{
      padding: 0 15px;
      &.social-block li{float: $left; display: inline-block; margin: 0 7px; text-align: center;
        a{color: #fff; line-height: 70px; width: 30px; display: inline-block;
          &:hover{color: $linkColor;}
          i{font-size: 16px;}
        }
      }
    } 
  }

  /*NEWLETTER*/
  .news-letter{overflow: hidden; padding-top: 10px; float: $right; color: #fff; padding-#{$right}: 0;
    .title-block{
     max-width: 400px; min-height: 50px; display: inline-block; padding: side-values(3px 0 0px 57px);
      background: url(#{$imgPath}icon/icon-newletter-footer.png) no-repeat $left center; margin-#{$left}: 23px;
    }
    .page-heading { font-size: 16px; text-transform: uppercase;font-weight: 600;color: #fff;margin: side-values(2px 2px 0); }
    .pre-text {margin: 0;line-height: 12px; font-size: 12px;}
    .block_content{ float: $right; padding-top: 7px;   
    form {margin: 0px;
      .form-group {margin: 0px; overflow: hidden;}
    }
      .input-box{float: $left;
        input { border-radius:0; height: 40px;padding: 5px 15px;background: #fff;color: #999;font-size: 12px;float: $left;width: 270px; height: 36px; transition: 0.3s all ease 0s;border: solid 1px #eee;border-#{$right}: none;}
      } 
      .subcribe{float: $left;
        button{ border-radius:0; height: 36px;float: $left;text-transform: uppercase;font-size: 12px;transition: 0.3s all ease 0s;font-weight: 500;text-transform: uppercase;background-color: $background; border-color: $linkColor; color: #fff;
          &:hover{background-color: darken($background, 10%); border-color: darken($background, 10%);}
        }  
      } 
    }
  }
}